@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-BlackItalic.ttf');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    font-weight: lighter ;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sono;
    src: url('../fonts/Sono/Sono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sono;
    src: url('../fonts/Sono/Sono-ExtraBold.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Sono;
    src: url('../fonts/Sono/Sono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}   

@font-face {
    font-family: Sono;
    src: url('../fonts/Sono/Sono-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Sono;
    src: url('../fonts/Sono/Sono-Medium.ttf');
    font-size: 500;
    font-style: normal;
}

@font-face {
    font-family: Sono;
    src: url('../fonts/Sono/Sono-Light.ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: Sono;
    src: url('../fonts/Sono/Sono-ExtraLight.ttf');
    font-weight: lighter;
    font-style: normal;
}
