:root {
    --image-size: 500px;
    --bg-body: rgb(49, 51, 54);
    --bg-body-dark: rgb(35, 40, 42);
    --bg-body-darker: rgb(16, 17, 18);
    --bg-body-light: rgb(84, 88, 93);
    --text-color: rgb(226, 227, 222);
    --bg-primary: rgb(82, 198, 241);
    --border-width-main: 5px;
    --circle-element: 80px;
}

.bg-body {background: var(--bg-body);}
.bg-dark {background: var(--bg-body-dark);}
.bg-darker {background: var(--bg-body-darker);}
.bg-text {background: var(--text-color);}
.text-light {color: var(--bg-body-light);}
.bg-primary {background-color: var(--bg-primary);}

.bg-hover-primary:hover  {background-color: var(--bg-primary);} 
.text-hover-dark:hover {color: var(--bg-body-dark)}
.text-hover-primary:hover, .text-hover-primary.all:hover * {color: var(--bg-primary)}

.soft-transition-all {
    transition: .3s;
}

* {
    color: var(--text-color);
}

.poster {
    width: var(--image-size);
    height: calc(3*var(--image-size)/4);
}

.capture {
    width: 300px;
    height: calc(3 * 300px/ 5);
    border: 5px solid var(--bg-body-light);
}

.top-float {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100000;
}

.bottom-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100000;
}

.p-later {
    padding: 50px max(15%, 100px);
}

.p-all {
    padding: 50px;
}

.br {border-color: var(--bg-primary); border-width: 0;}

.br-color-light {border-color: var(--bg-body);}

.br-top {border-top-width: var(--border-width-main)}

.br-bottom {border-bottom-width: var(--border-width-main)}

.br-left {border-left-width: var(--border-width-main)}

.br-right {border-bottom-width: var(--border-width-main)}

.br-all {border-width: var(--border-width-main);}

.dashed {border-style: dashed;}

.dotted {border-style: dotted;}

.cursor-target {
    position: relative;
}

.cursor-target.animated {
    display: flex;
    white-space: nowrap;
}

.cursor-target.animated .caret {
    background-color: var(--bg-primary);
    min-width: 3px;
    animation: tiling 1s linear infinite;
}

.cursor-target.animated::after {
    content: "";
    width: 0;
    animation: none;
}

.cursor-target.animated .content {
    animation: writing 3.5s steps(40, end) alternate-reverse infinite 3s;
    overflow: hidden;
    white-space: nowrap;
}

.cursor-target::after {
    content:"|";
    position: relative;
    background-color: var(--text-color);
    width: 3px;
    height: 16px;
    animation: tiling 1s linear infinite;
}

.v-separator {
    min-width: 3px;
    height: 100%;
}

@keyframes tiling {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes writing {
    0% { width: 0 }
    50% { width: 100% }
}

.circle {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px dashed var(--bg-body-light);
    animation: breath 4s linear infinite;
}

.icono {
    width: calc(var(--circle-element)*0.6);
    height: calc(var(--circle-element)*0.6);
}

.skill-el {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-el:hover {
    z-index: 10000000;
}

.elemento-circular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--circle-element);
    height: var(--circle-element);
    border-radius: 50%;
    background-color: var(--bg-body-dark);
    
    
    transition: border .3s ease-in-out, filter .3s ease-in-out;
    border: 3px dashed var(--bg-body-light);
    z-index: 500;
}

.elemento-circular img {
    filter: grayscale(100%);
}

.elemento-circular:hover img {
    filter: grayscale(0%);
}

.elemento-circular:hover {
    border-color: var(--bg-primary);
}

.popup-target.focus {
    position: relative;
}

.popup-target:hover {
    z-index: 100000000;
}

.popup-target:hover ~.popup, .popup-target:hover .popup {
    display: block;
}

.popup {
    position: absolute;
    display: none;
    transform: translate(0%,0%);
    border: 2px dashed var(--text-color);
}

.popup.right {
    left: calc(100% + 5px);
}

.popup.left {
    right: 100%;
}

.nowrap {
    white-space: nowrap;
}

.top-0 {top: 0;}

.on-top {z-index: 10000000000;}

@keyframes breath {
    0% {
        border-color: var(--bg-body-light);
    }
    50% {
        border-color: var(--bg-primary);
    }
}

.grayscale {
    filter: grayscale(100%)
}

@media (max-width: 767.98px) {
    #inicio, #habilidades, #proyectos {
        height: 100%;
    }

    :root {
        --image-size: 200px;
        --circle-element: 200px;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .ccc {
        height: fit-content;
        padding: 0;
        flex-direction: column;
    }

    .ddd {
        display: flex;
        flex-direction: column;
    }

    .v-separator {
        width: 100%;
        height: 2px;
        border: 2px dashed var(--bg-primary);
    }

    .poster {
        width: 100%;
        height: auto;
    }

    .circle {
        padding-top: 20px;
        width: 300px;
        min-height: 100vh;
        height: fit-content;
        border: none;
        animation: none;
        border-radius: 0;
        gap: 10px;
        padding: 0;
        margin-bottom: 10px;
    }

    .skill-el {
        width: 100%;
        position: relative;
        top: initial !important;
        left: initial !important;
        align-self: flex-start;
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-el > * {
        margin: 15px 0;
    }

    .skill-el > *:first-child {
        margin-top: 0;
    }

    .skill-el > *:last-child {
        margin-bottom: 0;
    }

    .skill-el .elemento-circular {
        width: 200px;
        height: 200px;
    }

    .skill-el .popup {
        position: relative;
        top: initial;
        left: initial;
        display: block;
        width: 100%;
    }

    .elemento-circular img{
        filter: grayscale(0);
    }

    .top-float, .bottom-float {
        right: 0% !important;
    }

    header ul {
        display: flex;
        flex-direction: column;
    }

    header .horizontal-list li {
        padding: 10px;
        margin: 5px;
    }

    header .spacer {
        display: none;
    }

    header i {
        font-size: 32px;
    }

    aside i { font-size: 32px;}

    #habilidades {
        padding-top: 10px;
    }

}