* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    color: #37326F;
}

body {
    background-color: rgb(240, 240, 236);
}

main {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 100%;
}

header {
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, white, transparent);
}

p {
    font-size: 28px;
}

.menu-component {
    background-color: rgb(240, 240, 236);
    height: 80px;
    border-radius: 50px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.25);
    width: 80%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 22px;
}

.db {
    border: 1px solid red;
}

.photo-container {
    display: flex;
    height: 480px;
    min-width: 520px;
    overflow: hidden;
    position: relative;
}

.bg-shape {
    --comp-width: 330px;
    position: relative;
    width: var(--comp-width);
    height: calc(var(--comp-width) * (540/430));
    color: transparent;
    top: 65px;
}

.bg-shape::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    background: linear-gradient(to bottom, #FFA41B, transparent);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 30px;
}

.bg-shape::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #77659F;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.photo {
    position:absolute;
    height: 620px;
    object-fit: cover;
    bottom: 0;
    right: -10px;
}

.main-title {
    position: relative;
    display: flex;
    height: fit-content;
}

.main-title::before {
    position: absolute;
    content: "";
    background-color: #FFA41B;
    border-radius: 6px;
    width: 91px;
    height: 15px;
    top: 100%;
    right: 0;
}

.main-title::after {
    position: absolute;
    content: "";
    background-color: #77659F;
    border-radius: 6px;
    width: 55px;
    height: 15px;
    top: calc(100% + 30px);
    right: 0;
}

.content {
    display: flex;
    min-height: 100vh;
}

.h-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.item {
    padding: 5px 10px;
    position: relative;
}

.item:hover::after {
    position: absolute;
    content: "";
    min-width: 30px;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: #FFA41B;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,100%); 

}

.item a {
    text-decoration: none;
}

.item i {
    margin-right: 10px;
}

.title {
    position: relative;
}

.title::after {
    position: absolute;
    content: "";
    width: 72px;
    height: 15px;
    border-radius: 10px;
    background-color: #FFA41B;
    top: 100%;
    left: calc(50% - 36px);
}

.center-p {
    text-align: justify;
    margin-top: 60px;
    width: 80%;
}

.card-container {
    margin-top: 100px;
    align-items: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card {
    background-color: rgb(240, 240, 236);
    width: 274px;
    height: 349px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px;
}

.card .icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FFA41B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    width: 90px !important;
    height: 90px !important;
}

.icon svg path
{
    stroke: transparent !important;
    fill: white !important;
}

.card-title {
    font-weight: lighter;
    margin: 20px 0;
    text-align: center;
}

.card-desc {
    font-size: 16px;
    text-align: justify;
}

.header-m {
    margin-top: 100px;
}

.slider-container {
    width: 700px;
    position: relative;
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slider .slider-pane {
    min-width: 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}

.arrow-button {
    background-color: rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: none;
    position: absolute;
    margin: 10px;
    opacity: 0.3;
    transition: opacity .3s;
}

.arrow-button:hover {
    opacity: 1;
}

.right-end {
    right: 0px;
}
.arrow-button i {
    color: white;
    font-size: 28px;
}

.thumbnail {
    width: 450px;
    height: 380px;
    border-radius: 30px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-title {
    font-size: 26px;
}

.item-desc {
    font-size: 24px;
    text-align: justify;
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 20px;
}

.contact-item i {
    cursor: pointer;
}

.simple-popup {
    position: relative;
}

.simple-popup::after {
    content: attr(data-msg);
    position: absolute;
    top: 100%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    opacity: 0;
    transition: display .3s, opacity .4s;
    padding: 5px;
    border-radius: 5px;
}

.simple-popup.show::after {
    opacity: 1;
}